/* Import OpenDyslexic */

@font-face {
    font-family: 'OpenDyslexic';
    src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Regular.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Italic.woff');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-Bold.woff');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'OpenDyslexic';
	src: url('https://discordstyles.github.io/discord-dyslexia/src/font/OpenDyslexic-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;
}

/* ----------------------------------------------------------------------- */

/* Backwards Compatibility */

:root {
	--line-spacing: var(--message-line-spacing);
}

/* Apply styles */

::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'OpenDyslexic', 'Whitney', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

/* Adjust formatted text line-height */

[class*="messageContent_" i] {
    line-height: var(--message-line-spacing, initial) !important;
}

/* Scale up timestamps & "Edited" text */

[class*="group-spacing" i] [class*="timestamp"],
[class*="messageContent_" i] time {
    font-size: .9rem;
}
